{% load static %}
<!DOCTYPE html>
<html>
<title>Covidus</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button">
    <img src="{% static 'img/logo2.jpg' %}" alt="My image" class="logo">
    <!-- <b>C</b> ovidus -->
  </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Vulnerability</a>
      <a href="#about" class="w3-bar-item w3-button">Public</a>
      <a href="#contact" class="w3-bar-item w3-button">Info</a>
    </div>
  </div>
</div>

<!-- Header -->
{% comment %} <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/w3images/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> </h1>
  </div>
</header> {% endcomment %}

<!-- Page content -->
<main class="w3-content w3-padding" style="max-width:1564px">

  <!-- landing Section -->
  <div class="w3-container w3-padding-32 landing-container" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey landing-1">Covidus</h3>
    <p class="landing-3">A personal health assistant used by senior citizens and people taking care them, as well as a public health assistant that connects citizens with public health stakeholders such as general practitioners and public health policy makers.
    <h2 class="landing-2">Covidus Personal Health Assistant</h3>
    {% comment %} <h3 class="">placeholder placeholder placeholder info about Covidus more placeholder</h3> {% endcomment %}

    {% comment %} <button class="btn-1">Login</button {% endcomment %}
    <div class="input-container" >
    <p class="landing-3"> Enter your useraname to login to Covidus</p>
      <form action="/enter" target="_blank" method="post">
      {% csrf_token %} 
        <input class="input-1" type="text" placeholder="username" required name="username">
        <input class="input-2" type="text" placeholder="password" name="password">
        <button class="btn-1" type="submit">Enter</button

      </form>
      <div class="pass_user_div">
      <p  class="pass_user ma-auto">Username = covidus</p>
      <p class="pass_user">Password = covidus</p>
    </div>
    </div>
  </div>
  <!-- About Section -->

 
  <!-- Contact Section -->
  
<!-- Image of location/map -->
<div class="w3-container">
</div>

<!-- End page content -->
</main>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="" title="" target="_blank" class="w3-hover-text-green">Covidus</a></p>
</footer>

</body>
</html>
